.first-sector{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid  black;
    padding-left: 50px;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 2; 
    height: 650px;
}

.text-box{
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
}

.image-box{
    background: url("https://media.istockphoto.com/id/1097112450/vector/cleaning-company-badge-emblem-vector-illustration-concept-for-shirt-stamp-or-tee-vintage.jpg?s=612x612&w=0&k=20&c=aKV2qnUV4xSSeDMlwxEJNQAlXrz-o1CRKrb-uDM4tp4=") cover;
    flex: 1;
    border-left-style: none;
}

.first-button{
    color: #fff;
    background-color: #000;
    border-radius: 15px;
    width: 120px;
    height: 60px;
    font-size:20px;
    box-shadow: 4px 3px 2px #222121;
}


/* second sector - navigation */

 .second{
    background-color: #e5e7eb;
    height: 400px;
    /* position: relative;
    bottom: 10px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

a{
    text-decoration: none;
    color: #2566ce;
}

.container{
    display: flex;
    justify-content: center;  
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 70px;
    margin: 50px 70px;
    color: #2566ce;
}

.nav{
    border-radius: 15px;
    background-color: #e5e7eb;
    color: black;
    height: 50px;
    font-size: 19px;
    margin: 10px; 
    border-color: #000;
    border: solid 2px;
} 
/* info-sector */
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 40px;
}
 
.g{
    display: flex;
    font-size: 20px;
    border: solid black 2px;
    border-radius: 20px;
    padding: 100px;
    margin-bottom: 50px;
}

.par{
    flex: 1.5;
    font-size: 20px;
    word-spacing: 6px;
    line-height: 40px;
}

.f{
     flex: 1;
     font-size: 24px;
} 

/* icon sector */
.last{
    border: solid 2px black;
    border-radius: 17px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

.photo{
    height: 50px;
    width: 50px;
}
